<h1>details for {{accessObject.name}}</h1>

<table class="table table-striped">
  <tr>
    <th>object</th>
    <th>on/off</th>
    <th>success</th>
    <th>time</th>
  </tr>
  <tr ng-repeat="access in accesses">
    <td>{{access.username}}</td>
    <td><div ng-if="access.onoff == true">
      <span class="glyphicon glyphicon-play" style="color: green"></span>
    </div>
      <div ng-if="access.onoff == false">
        <span class="glyphicon glyphicon-stop" style="color: red"></span>
      </div></td>
    <td><div ng-if="access.success == true">
      <span class="glyphicon glyphicon-ok" style="color: green"></span>
    </div>
      <div ng-if="access.success == false">
        <span class="glyphicon glyphicon-remove" style="color: red"></span>
      </div></td>
    <td>{{access.created_at}}</td>
  </tr>
</table>