<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Restkasten Admin</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/access_objects">Access Objects</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <main ng-view></main>
</div>
