<h1>details for {{user.name}}</h1>
RFID: {{user.rfid}}

<h2>access objects</h2>
<div class="row">
  <div class="col-md-6">
    <h3>disabled</h3>
    <button class="btn btn-default btn-block" ng-repeat="accessObject in filteredAccessObjects()" ng-click="addToUserAccessObjects(accessObject)">{{accessObject.name}}</button>
  </div>
  <div class="col-md-6">
    <h3>enabled</h3>
    <button class="btn btn-primary btn-block" ng-repeat="accessObject in userAccessObjects" ng-click="removeFromUserAccessObjects(accessObject)">{{accessObject.name}}</button>
  </div>
</div>

<h2>access log</h2>

<table class="table table-striped">
  <tr>
    <th style="width:30px"></th>
    <th>object</th>
    <th></th>
    <th>time</th>
  </tr>
  <tr ng-repeat="access in accesses">
    <td><div ng-if="access.onoff == true">
      <span class="glyphicon glyphicon-play" style="color: green"></span>
    </div>
    <div ng-if="access.onoff == false">
      <span class="glyphicon glyphicon-stop" style="color: red"></span>
    </div></td>
    <td><a ng-href="/access_objects/{{access.access_object_id}}">{{access.access_object_name}}</a>    
    <td><div ng-if="access.success == true">
      <span class="glyphicon glyphicon-ok" style="color: green; float: right"></span>
    </div>
    <div ng-if="access.success == false">
      <span class="glyphicon glyphicon-remove" style="color: red; float: right"></span>
    </div></td>
    <td>{{access.created_at}}</td>
  </tr>
</table>